<head>
    <title>Panel - Hanbai</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <%- include Resources/resources %>
</head>
<%- include templates/menu %>

    <body>
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content fadeIn animated">
                <div class="container-fluid">
                        <div class="col-md-12 card panel panel-headline">
                    <div class="col-md-12">
                        <h1>Estadísticas
                            <small> de ventas</small>
                            <br>
                            <h6>Gráficas informativas</h6>
                            
                    </div></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Productos más vendidos  <i class="fa fa-caret-up text-success"></i></h3>
                                    <div class="right">
                                            <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                                        </div>
                                </div>
                                <div class="panel-body">
                                    <div id="estadistica1" class="ct-chart"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Recaudación empleados (Top 5)  <i class="fa fa-caret-up text-success"></i></h3>
                                    <div class="right">
                                            <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                                        </div>
                                </div>
                                <div class="panel-body">
                                    <div id="estadistica2" class="ct-chart"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Evolución de recaudación <i class="fa fa-caret-up text-success"></i></h3><span class="number evolucionResultado"></span>
                                    <div class="right">
                                            <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                                        </div>
                                </div>
                                <div class="panel-body">
                                    <div id="estadistica3" class="ct-chart"></div>
                                </div>
                            </div>
                        </div>
                       
                        <div class="col-md-12">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Mayores importes realizados <i class="fa fa-caret-up text-success"></i></h3>
                                    <div class="right">
                                            <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                                        </div>
                                </div>
                                <div class="panel-body">
                                    <div id="estadistica4" class="ct-chart"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Historial gráfico <i class="fa fa-caret-up text-success"></i></h3>
                                    <div class="right">
                                            <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                                        </div>
                                </div>
                                <div class="panel-body">
                                    <div id="estadistica5" class="ct-chart"></div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT -->
        </div>

        <%- include templates/footer %>
        <script src="/js/estadisticas/chartist.min.js"></script>
        <script src="/js/estadisticas/estadisticas.js"></script>

           