<head>
    <title>Panel - Hanbai</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <%- include Resources/resources %>
</head>
<%- include templates/menu %>

    <body>
        <div class="main">
            <div class="main-content">
                <div class="row fadeIn animated">
                    <div class="col-md-11 card panel panel-headline background-container">
                        <div class="col-md-12">
                            <h1>Usuarios
                                <small>Panel de administración</small>
                                <div class="float-right propioEspacio">
                                    <a href="javascript:void(0);" class="btn btn-primary" data-toggle="modal" data-target="#Modal_Addusuario">
                                        <span class="fa fa-plus"></span> Crear nuevo usuario</a>
                                </div>
                            </h1>
                        </div>

                        <table class="table table-striped" id="mydata">
                            <thead>
                                <tr>
                                    <th>Nombre <i class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th>Email <i class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th>Permisos <i class="fa fa-sort" aria-hidden="true"></i></th>
                                    <th style="text-align: right;">Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="show_dataUsers">

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <!-- MODAL ADD -->
            <form>
                <div class="modal fade" id="Modal_Addusuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel">Crear nuevo usuario</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">Nombre</label>
                                    <div class="col-md-10">
                                        <input type="text" name="nombreusuario" id="nombreusuario" class="form-control" placeholder="Nombre y apellidos" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">Email</label>
                                    <div class="col-md-10">
                                        <input type="mail" name="emailusuario" id="emailusuario" class="form-control" placeholder="Email" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">Password</label>
                                    <div class="col-md-10">
                                        <input type="password" name="passusuario" id="passusuario" class="form-control" placeholder="Contraseña" required>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
                                <button type="button" type="submit" id="btn_saveUsuario" class="btn btn-primary">Crear</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!--END MODAL ADD-->

            <!-- MODAL EDIT -->
            <form>
                <div class="modal fade" id="Modal_EditUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel">Editar Usuario</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">Nombre</label>
                                    <div class="col-md-10">
                                        <input type="text" name="nombreusuario_edit" id="nombreusuario_edit" class="form-control" placeholder="Nombre y apellidos"
                                            readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">Email</label>
                                    <div class="col-md-10">
                                        <input type="email" name="emailusuario_edit" id="emailusuario_edit" class="form-control" placeholder="Email">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label">Permisos</label>
                                    <select class="col-md-10 browser-default" name="estadousuario_edit" id="estadousuario_edit">
                                        <option value="1">Empleado</option>
                                        <option value="0">Administrador</option>
                                    </select>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Regresar</button>
                                <button type="button" type="submit" id="btn_updateUsuario" class="btn btn-primary">Actualizar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!--END MODAL EDIT-->

            <!--MODAL DELETE-->
            <form>
                <div class="modal fade" id="Modal_Deleteusuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel">Eliminar usuario</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <strong>¿Está seguro de eliminar el usuario seleccionado?</strong>
                            </div>
                            <div class="modal-footer">
                                <input type="hidden" name="nombreusuario_delete" id="nombreusuario_delete" class="form-control">
                                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                <button type="button" type="submit" id="btn_deleteUsuario" class="btn btn-danger">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!--END MODAL DELETE-->



            <%- include templates/footer %>
                <script src="/js/usuarios/gestionUsuarios.js"></script>
    </body>