<head>
    <title>Panel - Hanbai</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <%- include Resources/resources %>
</head>
<%- include templates/menu %>

    <body>
        <div class="main fadeIn animated">
            <div class="main-content">
                <div class="row">
                    <div class="col-md-12 card panel panel-headline">
                        <div class="col-md-12">
                            <h1>Historial
                                <small> de ventas</small>
                                <br>
                                <h6>Tabla de resultados. (Última venta aparece en primer lugar)</h6>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="metric">
                                    <span class="icon">
                                        <i class="fa fa-line-chart"></i>
                                    </span>
                                    <p>
                                        <span class="number numeroventas"></span>
                                        <span class="title">Nº de ventas</span>
                                        <span class="percentage"><i class="fa fa-caret-up text-success"></i></span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="metric">
                                    <span class="icon">
                                        <i class="fa fa fa-money"></i>
                                    </span>
                                    <p>
                                        <span class="number ganancias"></span>
                                        <span class="title">Recaudación</span>
                                        <span class="percentage"><i class="fa fa-caret-up text-success"></i></span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="metric">
                                    <span class="icon">
                                        <i class="fa fa-trophy"></i>
                                    </span>
                                    <p>
                                        <span class="number topVendedor"></span>
                                        <span class="title">Nº 1 en ventas</span>
                                        <span class="percentage"><i class="fa fa-caret-up text-success"></i></span>
                                    </p>
                                </div>
                            </div>
                           
                            <div id="pdf">
                            <table class="table table-striped" id="mydata">
                                <thead>
                                    <tr>
                                        <th>Nº Transacción <i class="fa fa-sort" aria-hidden="true"></i></th>
                                        <th>Vendedor <i class="fa fa-sort" aria-hidden="true"></i></th>
                                        <th>Importe total <i class="fa fa-sort" aria-hidden="true"></i></th>
                                        <th>Fecha <i class="fa fa-sort" aria-hidden="true"></i></th>
                                    </tr>
                                </thead>
                                <tbody id="show_historial">

                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="editor"></div>
                            
            
                <%- include templates/footer %>
    <script src="/js/moment.min.js"></script>
    <script src="/js/tablas/jspdf.min.js"></script>
    <script src="/js/historial/historial.js"></script>
    <script src="/js/tablas/jszip.js"></script>
    <script src="/js/tablas/dataTables.buttons.js"></script>
    <script src="/js/pdf/buttons.html5.js"></script>
    <script src="/js/tablas/pdfmake.min.js"></script>
    <script src="/js/vfs_fonts.js"></script>
            </body>