<head>
    <meta charset="UTF-8">
    <title>Hanbai</title>
    <%- include resources/resources %>
</head>

<body>

    <div id="fondo">
        <div class="fondoizda"></div>
        <div class="fondodrcha"></div>
    </div>

    <div id="caja">
        <div class="capaTop">
            <div class="izda">
                <div class="content fadeIn animated">
                    <a href="" Style="text-decoration: none;">
                        <h2>Login
                            <img width="50px" class="logo-login" src="images/hanbailogo.svg">
                        </h2>
                    </a>

                    <form role="form" method="post" action="/login">
                        <div class="form-group">
                            <input id="login-username" type="email" name="user_email" value="" placeholder="&#xF007; Correo electrónico" style="font-family:Arial, FontAwesome" required />
                        </div>
                        <div class="form-group">
                            <input id="login-password" type="password" name="password" placeholder="&#xF084; Contraseña"  style="font-family:Arial, FontAwesome" required />
                        </div>
                        <button type="submit">
                            <i class="fa fa-sign-out" aria-hidden="true"></i> Iniciar sesión</button>
                    </form>
                    <p>¿No tienes cuenta?</p>
                    <button id="goIzda" class="off">Registro</button>

                </div>
            </div>
            <div class="drcha">
                <div class="content">
                    <h2>Registro </h2>
                    <p>Debe insertar la clave de registro proporcionada por su encargado para poder registrarse.</p>
                    <form method="post" method="post" action="/signup">
                        <div class="form-group">
                            <input type="text" name="clave" class="form-control" placeholder="&#xF13e; Clave de registro" style="font-family:Arial, FontAwesome" required />
                        </div>
                        <div class="form-group">
                            <input type="text" name="name" placeholder="Nombre y apellidos" required />
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Correo electrónico" required />
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Contraseña" required />
                        </div>
                        <button type="submit">Registrar</button>
                    </form>

                    <p>¿Ya te registraste?</p>
                    <button id="goDrcha" class="off">Acceder</button>

                </div>
            </div>

        </div>
    </div>
    <%- include templates/footer %>
        <%- include templates/alertas %>
</body>

</html>