<head>
	<title>Panel - Hanbai</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<%- include Resources/resources %>
</head>
<%- include templates/menu %>

	<body>

		<div class="main">
			<div class="main-content">
				<div class="">
					<div class="row row-m-t background-container">

						<div class="col col-sm-9 col-xs-6 card panel panel-headline">
							<div class="col-md-9">
								<div class="panel-heading noPaddingLeft">
									<h3 class="panel-title">
										<h3 class="panel-title">
											<h1>Productos
												<small>Listado</small></h1>
								</div>
							</div>
							<div class="row">

								<div class="col-md-3">
									<form id="live-search" class="styled">
										<input type="text" class="form-control" id="filter" value="" placeholder="&#xF002; Buscar" style="font-family:Arial, FontAwesome"
										/>
									</form>
								</div>

							</div>
							<hr style="margin-top: 10px;margin-bottom: 10px;">
							<div class="noResultado">
								<i class="fa fa-frown-o fa-5x"></i>
								<h3>No hay resultados</h3>
							</div>
							<div class="row fadeIn animated listaDeProductos">

							</div>
						</div>


						<div class="col col-sm-3 col-xs-3 panel-body ">
							<div id='cart-container' data-spy="affix" data-offset-top="10">
								<h3>Cantidad
									<span class="badge" id='cartItems'>0</span>
								</h3>
								<div class="cart" id='cart'>
									No hay productos añadidos.
								</div>
								<div id='prices'></div>
							</div>

						</div>

					</div>

				</div>

				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" style="margin-top: 14px;" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title" id="myModalLabel">Completar venta</h4>
							</div>
							<div class="modal-body" id="imprimir">
								<div class='row'>
									<div class='col-xs-12' id='cartContentsModal'> </div>
								</div>

							</div>
							<div class="modal-footer centered">
								<button type="button" class="btn btn-default" data-dismiss="modal">Regresar</button>
								<button type="button" class="btn btn-primary" id='submit'>Completar</button>
								<button type="button" class="btn btn-primary" id='imprime' href='javascript:;' onclick="imprSelec('imprimir')">
									<i class="fa fa-print" aria-hidden="true"></i> Imprimir</button>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="clearfix"></div>
		<%- include templates/footer %>
			<script src="/js/app.js"></script>
			<script src="/js/logica.js"></script>

	</body>