<head>
	<title>Panel - Hanbai</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<%- include Resources/resources %>
</head>
<%- include templates/menu %>

	<body>
		<div class="main">
			<div class="main-content">
				<div class="row fadeIn animated">
				<div class="row row-m-t background-container">
						
						<div class="col col-sm-11 col-xs-6 card panel panel-headline">
						<div class="col-md-12">
						<div class="panel-heading noPaddingLeft">
						<h3 class="panel-title">
						<h1>Productos
							<small>Listado</small>
							<div class="float-right propioEspacio">
									<a href="javascript:void(0);" class="btn btn-primary" data-toggle="modal" data-target="#Modal_Add">
										<span class="fa fa-plus"></span> Añadir</a>
								</div>
								</h1>
					</div>
                        </div>
						

					
						<table class="table table-striped" id="mydata">
							<thead>
								<tr>
									<th>Identificador <i class="fa fa-sort" aria-hidden="true"></i></th>
									<th>Nombre <i class="fa fa-sort" aria-hidden="true"></i></th>
									<th>Precio <i class="fa fa-sort" aria-hidden="true"></i></th>
									<th>Fotografía</th>
									<th style="text-align: right;">Acciones</th>
								</tr>
							</thead>
							<tbody id="show_data">
							
							</tbody>
						</table>
						<div class="noResultado" style="padding-top: 20px;">
<i class="fa fa-frown-o fa-5x"></i>
<h3>No hay resultados</h3>
</div>
					</div>
				</div>

			</div>

			<!-- MODAL ADD -->
			<form>
				<div class="modal fade" id="Modal_Add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title" id="exampleModalLabel">Añadir nuevo producto</h4>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="form-group row">
									<label class="col-md-2 col-form-label">Nombre</label>
									<div class="col-md-10">
										<input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre" required >
									</div>
								</div>
								<div class="form-group row">
									<label class="col-md-2 col-form-label">Precio</label>
									<div class="col-md-10">
										<input type="number" name="precio" id="precio" class="form-control" placeholder="Precio" required >
									</div>
								</div>
								<br>
								<div class="form-group row">
									<label class="col-md-2 col-form-label">Fotografia</label>
									<div class="picker col-md-10">
									<select id="foto" name="foto" class="image-picker show-html">
										<option data-img-src="/images/1.jpg" value="1.jpg"></option>
										<option data-img-src="/images/2.jpg" value="2.jpg"></option>
										<option data-img-src="/images/3.jpg" value="3.jpg"></option>
										<option data-img-src="/images/4.jpg" value="4.jpg"></option>
										<option data-img-src="/images/5.jpg" value="5.jpg"></option>
										<option data-img-src="/images/6.jpg" value="6.jpg"></option>
										<option data-img-src="/images/7.jpg" value="7.jpg"></option>
										<option data-img-src="/images/8.jpg" value="8.jpg"></option>
										<option data-img-src="/images/9.jpg" value="9.jpg"></option>
										<option data-img-src="/images/10.jpg" value="10.jpg"></option>
										<option data-img-src="/images/11.jpg" value="11.jpg"></option>
										<option data-img-src="/images/12.jpg" value="12.jpg"></option>
									</select>

								</div>
							</div>
						</div>
						<div class="modal-footer">
							
							<button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
							<button type="button" type="submit" id="btn_save" class="btn btn-primary">Añadir</button>
						</div>
					</div>
				</div>
		</div>
		</form>
		<!--END MODAL ADD-->

		<!-- MODAL EDIT -->
		<form>
			<div class="modal fade" id="Modal_Edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="exampleModalLabel">Editar producto</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group row">
								<label class="col-md-2 col-form-label">Nombre</label>
								<div class="col-md-10">
									<input type="text" name="nombre_edit" id="nombre_edit" class="form-control" placeholder="Product Code" readonly>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-2 col-form-label">Precio</label>
								<div class="col-md-10">
									<input type="text" name="precio_edit" id="precio_edit" class="form-control" placeholder="Product Name">
								</div>
							</div>
							<br>
							<div class="form-group row">
								<label class="col-md-2 col-form-label">Fotografía</label>
								<div class="picker col-md-10">
									
									<select id="foto_edit" name="foto_edit" class="image-picker show-html">
										
										<option data-img-src="/images/1.jpg" value="1.jpg"></option>
										<option data-img-src="/images/2.jpg" value="2.jpg"></option>
										<option data-img-src="/images/3.jpg" value="3.jpg"></option>
										<option data-img-src="/images/4.jpg" value="4.jpg"></option>
										<option data-img-src="/images/5.jpg" value="5.jpg"></option>
										<option data-img-src="/images/6.jpg" value="6.jpg"></option>
										<option data-img-src="/images/7.jpg" value="7.jpg"></option>
										<option data-img-src="/images/8.jpg" value="8.jpg"></option>
										<option data-img-src="/images/9.jpg" value="9.jpg"></option>
										<option data-img-src="/images/10.jpg" value="10.jpg"></option>
										<option data-img-src="/images/11.jpg" value="11.jpg"></option>
										<option data-img-src="/images/12.jpg" value="12.jpg"></option>
									</select>

								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Regresar</button>
							<button type="button" type="submit" id="btn_update" class="btn btn-primary">Actualizar</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<!--END MODAL EDIT-->

		<!--MODAL DELETE-->
		<form>
			<div class="modal fade" id="Modal_Delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="exampleModalLabel">Eliminar producto</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<strong>¿Está seguro de eliminar el producto seleccionado?</strong>
						</div>
						<div class="modal-footer">
							<input type="hidden" name="nombre_delete" id="nombre_delete" class="form-control">
							<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
							<button type="button" type="submit" id="btn_delete" class="btn btn-danger">Eliminar</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<!--END MODAL DELETE-->



		<%- include templates/footer %>
		<script src="/js/productos/gestionProductos.js"></script>
		<script src="/js/productos/imagePicker.js"></script>
	</body>