body {
  
  height: 100%;
  width: 100% !important;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Change Autocomplete styles in Chrome*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.fondoizda {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: #ffffff url(../images/imagelogin.jpeg);
  background-size: cover;
  background-position: 50% 50%;
}

.fondodrcha {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background: #ffffff url(../images/imagenregistro.jpeg);
  background-size: cover;
  background-position: 50% 50%;
}

#fondo {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -999;
}

#caja {
  width: 50%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: 50%;
  position: absolute;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.capaTop {
  width: 200%;
  height: 100%;
  position: relative;
  left: 0;
  left: -100%;
}

.drcha {
  width: 50%;
  height: 100%;
  background: rgba(44, 48, 52, 0.55);
  left: 0;
  position: absolute;
  color: white;
}

.izda {
  width: 50%;
  height: 100%;
  background: rgba(44, 48, 52, 0.95);
  right: 0;
  position: absolute;
  color: white;
}

.content {
  width: 350px;
  margin: 0 auto;
  top: 20%;
  position: absolute;
  left: 50%;
  margin-left: -125px;
}

.content h2 {
  color: #03a9f4;
  font-size: 35px;
}

button {
  background: #03a9f4;
  padding: 10px 16px;
  width: auto;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  line-height: 16px;
  letter-spacing: 0.5px;
  border-radius: 200px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  margin: 15px 15px 15px 0;
  transition: all 0.25s;
}

button:hover {
  background: #0288d1;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: white;
}

.off {
  background: none;
  color: #03a9f4;
  box-shadow: none;
}

.right .off:hover {
  background: #eee;
  color: #03a9f4;
  box-shadow: none;
}

.left .off:hover {
  box-shadow: none;
  color: #03a9f4;
  background: #363a3d;
}

input {
  background: transparent;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #45494c;
  font-size: 14px;
  color: #ffffff;
  padding: 8px 0;
  margin-top: 20px;
  min-width: auto;
}

.navbar-btn {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Posición de la barra lateral en fixed */

.sidebar .sidebar-wrapper {
  position: fixed;
  background-color: white;
}

/* Margenes para mi estilo en diferentes clases */

.btn.btn-block {
  margin: 20px;
}

.row {
  margin-bottom: 0px;
}

.form-group.last {
  margin-bottom: 0px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

/* Personalizo mi h2 */

h2,
.h2 {
  font-size: 1em;
  margin: 10px 0 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Footer fixed aunque en login no queda como quiero, pendiente de arreglar */

.footer {
  background-attachment: fixed;
  line-height: 20px;
  bottom: 0;
  width: 100%;
}

/* Estilo para tablas */

table td {
  font-size: 1.5rem;
  font-weight: 400;
}

/* Estilo para caja de login */

.login-wrap {
  width: 420px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 15px;
  background: #f8f8f8;
  border-radius: 4px;
  text-align: center;
  box-shadow: inset -1px -1px 0px 0px #b9b8b8;
}

.logo-login {
  background-position: center top;
  background-repeat: no-repeat;
  color: #444;
  /* width: 50px; */
  display: inline;
}

.logo-login-small {
  background: url(images/hanbai-logo.png);
  background-position: center top;
  background-repeat: no-repeat;
  color: #444;
  height: 50px;
  padding: 0;
  width: 50px;
  text-indent: -9999px;
  outline: 0;
  display: block;
}

/* Awesome icon del corazon color rojo */

.footer .fa-heart {
  color: #eb5e28;
}

/* Nombre de la app en barra lateral */

.textologo {
  float: right;
  color: #0487f2;
  line-height: 0;
  padding-left: 15px;
  padding-top: 5px;
}

/* Ancho de las alertas */

.sweet-alert {
  width: 505px;
}

/* Fondo de marcador de items */

.badge {
  background-color: #bf0000;
}

#cart-container {
  position: fixed;
}

/* Margin top para las cajas del contenido */

.card {
  margin-top: 10px;
  background: linear-gradient(#ffffff85,rgb(255, 255, 255));
}

.card .header {
  padding: 20px 0px 20px;
}

/* Estilo de botones */

.btn-success {
  padding: 4px 11px;
  margin-top: 10px;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-xs {
  font-size: 10px;
  border-radius: 26px;
  padding: 4px 8px;
  float: right;
  margin: 0px 0px 0px 0;
}

.btn-info {
  margin-top: 0px;
}

/* Bordes y sombra para la imagen de producto */

.productoimg {
  box-shadow: 1px 1px 5px #555;
}

.productoimgSmall {
  max-width: 50px;
  cursor: auto !important;
}

.card img {
  border-radius: 3px;
  cursor: pointer;
}

/* Posición */

.modal-backdrop {
  position: inherit;
}

.affix {
  position: inherit;
}

.precio {
  position: absolute;
  padding: 2%;
}

.preciotexto {
  display: inline;
  color: white;
  font-size: 2.4em;
  text-shadow: 2px 2px #151515;
}

.small,
small {
  font-size: 100%;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 0;
  color: #000;
  text-shadow: none;
  filter: alpha(opacity=20);
  opacity: 0.6;
  font-size: 31px;
  padding: 2%;
}

ul.thumbnails.image_picker_selector {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

ul.thumbnails.image_picker_selector ul {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

ul.thumbnails.image_picker_selector li.group_title {
  float: none;
}

ul.thumbnails.image_picker_selector li {
  margin: 0px 10px 0px 0px;
  float: left;
}

ul.thumbnails.image_picker_selector li .thumbnail {
  padding: 3px;
  border: 1px solid #dddddd;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

ul.thumbnails.image_picker_selector li .thumbnail img {
  -webkit-user-drag: none;
  max-width: 100;
}

ul.thumbnails.image_picker_selector li .thumbnail.selected {
  background: #0088ccc7;
}

.table-striped tbody tr:hover td,
.table-striped tbody tr:hover th {
  background-color: #ecf3f8;
}

label {
  padding-top: 25px;
}

.label {
  font-size: 85%;
  padding: 10px;
}

.browser-default {
  display: block !important;
  width: 80%;
  margin-left: 15px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  margin-top: 20px;
  min-width: 200px;
}

.administrador {
  font-weight: 700;
  color: #01aaff;
}

.noPaddingLeft {
  padding-top: 20px;
  padding-left: 0px !important;
}

.noResultado {
  display: none;
  text-align: center;
  padding-bottom: 50px;
  min-height: 300px;
}

.productoCaja {
  transition: 0.5s;
}

.productoCaja:hover {
  filter: contrast(120%);
  opacity: 0.8;
}

.blur-filter {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #03a9f4;
  border-color: #03a9f4;
}

.pagination > li > a,
.pagination > li > span {
  color: #4f4f50;
}

#mydata_filter label {
  padding-top: 0px !important;
  font-weight: 400;
  float: right;
    padding-right: 50px;
}

#mydata_length {
  margin-left: 25px;
}

#mydata_length label {
  padding-top: 0px;
  font-weight: 400;
  
}

.form-inline .form-control {
  margin-top: 0px;
  vertical-align: inherit;
  margin-bottom: 20px;
  
}

.dt-buttons {
  margin-bottom: 45px;
}

.pagination {
  
  padding-left: 20px;
}

.propioEspacio {
  padding-top:10px;
  padding-bottom:20px;
  float: right;
}

.is-blurred {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

body.modal-open .background-container{
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
  
}

.navbar-default {

  background-color: #ffffffeb;
}

.navbar-default .brand {
  
  width: 300px;
}


img {
  vertical-align: middle;
  height: auto;
  max-width: 100%;
}


