<% if (messageErrorClave == true) { %>
                        
    <script>
          swal("Ocurrió un error", "Clave de registro no válida, póngase en contacto con el encargado para solicitar su clave de registro o inténtelo de nuevo.", "error");
           </script>
<% } %>
<% if (messageErrorCredenciales == true) { %>
    
     <script>
           swal("Ocurrió un error", "Credenciales no válidas", "error");
            </script>
<% } %>
<% if (messageRegistro == true) { %>
    
<script>
  swal("Registro completado", "Ya puede inicar sesión", "success");
   </script>
<% } %>