
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/jquery.slimscroll.min.js"></script>
    <script src="/js/klorofil-common.js"></script>
    <script type="text/javascript" src="/js/usuarios/login.js"></script>
    <script src="/js/sweetalert.min.js"></script>
    <script src="js/tablas/jquery.dataTables.min.js"></script>
    <script src="js/tablas/dataTables.bootstrap.min.js"></script>
  </body>
</html>