<!-- WRAPPER -->
<div id="wrapper">

	<!-- NAVBAR -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="brand">
			<a href="panel">
				<img width="50px" src="images/hanbailogo.svg" alt="Klorofil Logo" class="img-responsive logo">
			</a>
			<h3 class="textologo">Hambai!</h3>
		</div>
		<div class="container-fluid">
			<div class="navbar-btn">
				<button type="reset" class="btn-toggle-fullwidth">
					<i class="lnr lnr-arrow-left-circle"></i>
				</button>
			</div>


			<div id="navbar-menu">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a class="dropdown-toggle" data-toggle="dropdown">
							<span>
								<span class="lnr lnr-user"></span>
								<%=user.name, console.log(user.name)%>
							</span>
						</a>

					</li>
					<li>
						<a href="/logout" class="dropdown-toggle">
							<span>
								<i class="fa fa-sign-out" aria-hidden="true"></i> Salir</span>
						</a>
					</li>

				</ul>
			</div>
		</div>
	</nav>
	<!-- END NAVBAR -->

	<!-- LEFT SIDEBAR -->
	<div id="sidebar-nav" class="sidebar">
		<div class="fondoMenu">
			<div>
				<nav>

					<ul class="nav">

						<% if(user.estado !=0 ){ %>

							<li>
								<a href="panel" <% if (page_name==='panel' ) { %>class="active"
									<% } %>>
										<i class="lnr lnr-store"></i>
										<span>Punto de venta</span>
								</a>
							</li>

							<% }else{ %>

								<li>
									<a href="panel" <% if (page_name==='panel' ) { %>class="active"
										<% } %>>
											<i class="lnr lnr-store"></i>
											<span>Punto de venta</span>
									</a>
								</li>


								<li>
									<a href="productos" <% if (page_name==='productos' ) { %>class="active"
										<% } %>>
											<i class="lnr lnr-tag"></i>
											<span>Productos</span>
									</a>
								</li>

								<li>
									<a href="historial" <% if (page_name==='historial' ) { %>class="active"
										<% } %>>
											<i class="lnr lnr-layers"></i>
											<span>Historial de ventas</span>
									</a>
								</li>

								<li>
									<a href="estadisticas" <% if (page_name==='estadisticas' ) { %>class="active"
										<% } %>>
											<i class="lnr lnr-chart-bars"></i>
											<span>Estadísticas</span>
									</a>
								</li>


								<li>
									<a href="gestionUsuarios" <% if (page_name==='gestionusuarios' ) { %>class="active"
										<% } %>>
											<span class="lnr lnr-users"></span>
											<span>Gestión de usuarios</span>
									</a>
								</li>

								<%  } %>

				</nav>
			</div>
		</div>
	</div>
	<footer>
		<div class="container-fluid">
			<a href="https://codespaceacademy.com/">
			  Alumno CodeSpace Academy <i class="fa fa-code" aria-hidden="true"></i>
			</a>
		  <p class="copyright">© 2018 <a href="https://www.linkedin.com/in/juanantoniojim%C3%A9nezrubia/" target="_blank">Juan Antonio Jiménez</a></p>
		</div>
	  </footer>
	<!-- END LEFT SIDEBAR -->